<footer>
  <div class="footer-soat">
    <div class="container">
      <div class="col-md-3 contain-copyright">
        <p style="margin-top: 29px;">
          Copyright © 2017 <br /> Todos los Derechos Reservados
        </p>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <ul class="menu-footer">
          <li>
            <a routerLink="preguntas">Preguntas Frecuentes</a>
          </li>
          <li>
            <a routerLink="terminos">Términos y Condiciones</a>
          </li>
          <li>
            <a routerLink="politicas">Políticas de Privacidad</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
